{{>licenseInfo}}
{{#models}}{{#model}}/*
 * {{classname}}.h
 * 
 * {{description}}
 */

#ifndef {{classname}}_H_
#define {{classname}}_H_

#include <QJsonObject>

{{/model}}{{/models}}
{{#imports}}{{{import}}}
{{/imports}}

#include "SWGObject.h"

{{#models}}{{#model}}
namespace Swagger {

class {{classname}}: public SWGObject {
public:
    {{classname}}();
    {{classname}}(const QString &json);
    virtual ~{{classname}}();
    void init();

    QString asJson() const;
    QJsonObject asJsonObject() const;
    void fromJsonObject(const QJsonObject &json);
    void fromJson(const QString &jsonString);

    {{#vars}}{{{datatype}}} {{getter}}() const;
    void {{setter}}(const {{{datatype}}} &{{name}});
    {{/vars}}

private:
    {{#vars}}{{{datatype}}} {{name}};
    {{/vars}}
};

} /* namespace Swagger */

#endif /* {{classname}}_H_ */
{{/model}}
{{/models}}
