{{>licenseInfo}}
#ifndef _{{prefix}}_OBJECT_H_
#define _{{prefix}}_OBJECT_H_

#include <QJsonObject>
#include <QJsonValue>

class {{prefix}}Object {
  public:
    virtual QJsonObject asJsonObject() {
        return QJsonObject();
    }
    virtual ~SWGObject() {}
    virtual void fromJson(const QString &jsonString) {
        Q_UNUSED(jsonString);
    }
    virtual void fromJsonObject(const QJsonObject &json) {
        Q_UNUSED(json);
    }
    virtual QString asJson() const {
        return QString("");
    }
};

#endif /* _{{prefix}}_OBJECT_H_ */
